# Dependencies
**/node_modules/
**/dist/
**/.angular/
**/out-tsc/
**/bazel-out/

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Other
**/tmp/
**/uploads/
